<div class="blog card ml-5 mt-3 mb-5 bg-dark text-white border-color-secondary rounded" style="width: 24rem;">
    <div class="card-body">
        <h1 class="card-header ">
         {{user_name}} Posted by: {{user.user_name}}
        </h1>
        <p class="card-text">{{blog.title}}</p>
        <p class="class-text">{{blog_text}}</p>
        <div class="card-footer">
        </div>
    </div>
</div>